{% load static i18n %}
<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <li class="nav-divider"></li>
    <li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
      class="icon-speedometer"></i><span class="hide-menu">Dashboard <span
      class="badge badge-pill badge-cyan ml-auto">4</span></span></a>
      <ul aria-expanded="false" class="collapse">
        <li><a href="index.php">Minimal </a></li>
        <li><a href="index2.php">Analytical</a></li>
        <li><a href="index3.php">Demographical</a></li>
        <li><a href="index4.php">Modern</a></li>
      </ul>
    </li>
    <li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
      class="ti-layout-grid2"></i><span class="hide-menu">Apps</span></a>
      <ul aria-expanded="false" class="collapse">
        <li><a href="app-calendar.html">Calendar</a></li>
        <li><a href="app-chat.html">Chat app</a></li>
        <li><a href="app-ticket.html">Support Ticket</a></li>
        <li><a href="app-contact.html">Contact / Employee</a></li>
        <li><a href="app-contact2.html">Contact Grid</a></li>
        <li><a href="app-contact-detail.html">Contact Detail</a></li>
      </ul>
    </li>
  </ul>
</nav>
