{% load static i18n %}
<div class="row page-titles">

</div>

{% block body_page_wrapper_content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" id="1">1. Title will be here</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem.Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
            a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
            dapibus. Vivamus elementum semper nisi.</p>
          <br>
          <br>

        </div>
      </div>
    </div>
  </div>
{% endblock body_page_wrapper_content %}

{% include 'basepartials/page_wrapper_right_sidebar.html' %}
