<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" id="1">1. Title will be here</h4>

        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-6 m-b-30 text-center"><small>Visit</small>
                  <h2><i class="ti-arrow-up text-success"></i> 1064</h2>
                  <div id="sparklinedash"></div>
                </div>
                <div class="col-lg-3 col-md-6 m-b-30 text-center"><small>Total Page Views</small>
                  <h2><i class="ti-arrow-up text-purple"></i> 5064</h2>
                  <div id="sparklinedash2"></div>
                </div>
                <div class="col-lg-3 col-md-6 m-b-30 text-center"><small>Unique Visitor</small>
                  <h2><i class="ti-arrow-up text-info"></i> 664</h2>
                  <div id="sparklinedash3"></div>
                </div>
                <div class="col-lg-3 col-md-6 m-b-30 text-center"><small>Bounce Rate</small>
                  <h2><i class="ti-arrow-down text-danger"></i> 50%</h2>
                  <div id="sparklinedash4"></div>
                </div>
              </div>
              <ul class="list-inline font-12 text-center">
                <li><i class="fa fa-circle text-cyan"></i> Site A</li>
                <li><i class="fa fa-circle text-primary"></i> Site B</li>
                <li><i class="fa fa-circle text-purple"></i> Site C</li>
              </ul>
              <div id="morris-area-chart" style="height: 340px;"></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
