{% extends "layouts/intranet.html" %}

{% block page_wrapper_title %}
    <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h4 class="text-themecolor">Inicio</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
      <div class="d-flex justify-content-end align-items-center">
        <ol class="breadcrumb">
{#          <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>#}
          <li class="breadcrumb-item active">Inicio</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock page_wrapper_title %}

{% block page_wrapper_content %}
  {% include 'core_app/basepartials/_initial_page_wrapper_content.html' %}
{% endblock page_wrapper_content %}

{% block page_wrapper_right_sidebar %}
  {% include 'basepartials/page_wrapper_right_sidebar.html' %}
{% endblock page_wrapper_right_sidebar %}