<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">MÓDULO PROGRAMACIÓN DE TURNOS DEL OPERADOR</h4>
                <div>
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" id="btnAgregarGenerarProgramacionOperador"
                            class="btn btn-sm btn-cyan"><i class="fa fa-list"></i> Generar programación
                    </button>
                  </div>
                </div>
                <div class="tab-content table-responsive table-sm">
                  <table class="table table-striped w-100 color-table info-table"
                         id="lista-prog-turno-operadores">
                    <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Fecha</th>
                      <th>Dia</th>
                      <th>Madrugada (00:00-08:00)</th>
                      <th>Día (08:00-16:00)</th>
                      <th>Noche (16:00-00:00)</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
