<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Turno de conductor - Activar/Inactivar</h4>
                <div class="tab-content table-responsive table-sm">
                  <table class="table table-striped w-100 color-table info-table"
                         id="lista-turno-vehiculo">
                    <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Activar/Inactivar Turno</th>
                      <th>Datos de Alquiler</th>
                      <th>Descripcion</th>
                      <th>Estado Vehiculo</th>
                      <th>Estado alquiler</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
