<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row mt-2 pb-2" style="background-color: #03BFCA20 !important;">
          <div class="col-12">
            <fieldset class="form-group form-group-sm border-cyan border p-2 mb-0">
              <legend class="w-auto badge badge-cyan">CONDUCTORES</legend>
              <div class="row">
                <div class="col-12">
                  <div style="min-height: 200px; overflow: auto;" data-offset="0"
                       class="position-relative mb-1">
                    <div class="tab-content table-responsive">
                      <table data-toggle="table" data-height="250" data-mobile-responsive="true"
                             class="table table-sm table-striped w-100 compact" id="lista-conductores-activos-01">
                        <thead class="table-cyan">
                        <tr>
                          <th></th>
                          <th>#</th>
                          <th>Conductor</th>
                          <th>Licencia</th>
                          <th>Vehiculo</th>
                          <th>Matricula (placa)</th>
                          <th>Atendidos</th>
                          <th>Cancelados</th>
                        </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
