<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body" style="background-color: #01C29325 !important;">
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">Nro del vehículo</label>
                    <input type="text" id="id_turncond_nombre_vehiculo" name="nombre_vehiculo" class="form-control"
                           placeholder="Nro del vehículo">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <div class="col-3">
                    <label class="form-label">Fecha inicio</label>
                    <input type="date" id="id_turncond_fecha_inicio" name="fecha_inicio" class="form-control"
                           placeholder="Fecha inicio">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <div class="col-3">
                    <label class="form-label">Fecha fin</label>
                    <input type="date" id="id_turncond_fecha_fin" name="fecha_fin" class="form-control"
                           placeholder="Fecha fin">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <div class="col-3 text-center">
                    <label class="form-label">Consultar</label>
                    <br>
                    <div class="btn-group" role="group" aria-label="Filtros">
                      <button type="button" id="btnFiltarTurnoConductoresList"
                              class="btn btn-cyan">Buscar
                      </button>
                      <button type="button" id="btnLimpiarFiltroTurnoConductoresList"
                              class="btn border border-cyan btn-light">Limpiar
                      </button>
                      <a href="{% url 'core_app_reportes:print_reportes' %}" target="_blank"
                         class="btn btn-sm border border-success btn-success p-2"><i class="fas fa-table"></i> Exportar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body pt-1" style="background-color: #03BFCA25 !important;">
                <div class="tab-content table-responsive table-sm">
                  <table class="table table-sm table-striped w-100 color-table info-table"
                         id="lista-turnos-conductor">
                    <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Opciones</th>
                      <th>Conductor</th>
                      <th>Vehiculo</th>
                      <th>Fecha</th>
                      <th>Turno</th>
                      <th title="A: Asignados / C: Cancelado / R: Realizado">Servicios (R C)</th>
                      <th title="Monto referencial">Monto (ref.)</th>
                      <th>Estado</th>
                      <th>Observación</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12" id="detalle-lista-servicios-conductor">
            <fieldset class="form-group form-group-sm border border-info p-2 mb-0 mt-2"
                      style="background-color: #03a9f315 !important;">
              <legend class="w-auto badge badge-info"
                      id="detalle-lista-servicios-conductor-leyenda">Itinerario del conductor
              </legend>
              <input type="hidden" id="id_show_turno_dataid" name="show_turno_dataid">
              <div class="position-relative mb-1">
                <div class="tab-content table-responsive">
                  <table data-toggle="table" data-height="250" data-mobile-responsive="true"
                         class="table table-sm table-striped w-100" id="lista-detalle-servicios-conductor">
                    <thead class="table-info">
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Cliente</th>
                      <th>hora [inicio-Fin]</th>
                      <th>Ruta</th>
                      <th>Estado</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
