<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="min-height: 140px; overflow: auto;background-color: #01C29325 !important;">
                <h4 class="card-title">Rango de fecha</h4>
                <div class="row">
                  <div class="col-6">
                    <label class="form-label">Inicio</label>
                    <input type="date" id="id_turncond_fecha_inicio" name="fecha_inicio" class="form-control"
                           placeholder="Fecha inicio">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <div class="col-6">
                    <label class="form-label">Fin</label>
                    <input type="date" id="id_turncond_fecha_fin" name="fecha_fin" class="form-control"
                           placeholder="Fecha fin">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="min-height: 140px; overflow: auto;background-color: #FB967A25 !important;">
                <h4 class="card-title">Datos del conductor</h4>
                <div class="row">
                  <div class="col-6">
                    <label class="form-label">Nro Licencia</label>
                    <input type="text" id="id_turncond_licencia" name="licencia" class="form-control"
                           placeholder="Nro de Licencia">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <div class="col-6">
                    <label class="form-label">Apellido Paterno</label>
                    <input type="text" id="id_turncond_ape_paterno_conductor" name="ape_paterno_conductor"
                           class="form-control"
                           placeholder="Apellido Paterno">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="min-height: 140px; overflow: auto;background-color: #01C29325 !important;">
                <h4 class="card-title">Datos del vehiculo</h4>
                <div class="row">
                  <div class="col-6">
                    <label class="form-label">Nro del vehículo</label>
                    <input type="text" id="id_turncond_nombre_vehiculo" name="nombre_vehiculo" class="form-control"
                           placeholder="Nro del vehículo">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <div class="col-6">
                    <label class="form-label">Matrícula (placa)</label>
                    <input type="text" id="id_turncond_matricula" name="matricula" class="form-control"
                           placeholder="Nro matrícula">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body" style="background-color: #03BFCA25 !important;">
                <h4 class="card-title">Drivers vigentes
                  <div class="btn-group" role="group" aria-label="Filtros">
                    <button type="button" id="btnFiltarTurnoConductoresList"
                            class="btn btn-sm btn-cyan"> <i class="fa fa-search"></i> Buscar
                    </button>
                    <button type="button" id="btnLimpiarFiltroTurnoConductoresList"
                            class="btn btn-sm border border-secondary btn-light">Limpiar
                    </button>
                    <a href="{% url 'core_app_reportes:print_reporte_driver_vigentes' %}" target="_blank"
                       class="btn btn-sm border border-success btn-success"> <i class="fas fa-table"></i> Exportar </a>
                  </div>
                </h4>
                <div class="tab-content table-responsive table-sm">
                  <table class="table table-sm table-striped w-100 color-table info-table"
                         id="lista-turnos-conductor">
                    <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Conductor</th>
                      <th>Teléfono</th>
                      <th>Licencia</th>
                      <th>Vehiculo</th>
                      <th>Placa</th>
                      <th>Turno</th>
                      <th>Inicio</th>
                      <th>Fin</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
