<div class="modal" id="bs-nuevo-conductor-modal-lg" tabindex="-1" role="dialog"
     aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xxl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear nuevo Vehículo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form id="id_frm_mantener_conductor">
          <input type="hidden" id="id_codigo_vehiculo" name="codigo_vehiculo">
          <div class="row">
            <div class="col-12">
              <fieldset class="form-group form-group-sm border border-cyan p-2 mb-1"
                        style="background-color: #03BFCA25 !important;">
                <legend class="w-auto badge badge-cyan">VEHÍCULO</legend>
                <div class="row mb-1">
                  <label class="col-1 col-form-label">Nro</label>
                  <div class="col-3">
                    <input type="number" id="id_vehiculo_nombre" name="nombre" min="1" max="500" step="1" class="form-control"
                           placeholder="Nro">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <label class="col-1 col-form-label">Matrícula(Placa)</label>
                  <div class="col-3">
                    <input type="text" id="id_vehiculo_matricula" name="matricula" class="form-control"
                    placeholder="Matrícula (placa)" maxlength="8">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <label class="col-1 col-form-label">numero VIN</label>
                  <div class="col-3">
                    <input type="text" id="id_vehiculo_numero_vin" name="numero_vin" class="form-control"
                    placeholder="VIN" maxlength="20">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                </div>
                <div class="row mb-1">
                  <label class="col-1 col-form-label">Marca</label>
                  <div class="col-5">
                    <input type="text" id="id_vehiculo_marca" name="marca" class="form-control"
                    placeholder="Marca" maxlength="50">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <label class="col-1 col-form-label">Modelo</label>
                  <div class="col-5">
                    <input type="text" id="id_vehiculo_modelo" name="modelo" class="form-control"
                           placeholder="Modelo" maxlength="50">
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                </div>
                <div class="row mb-1">
                  <label class="col-1 col-form-label">Descripción</label>
                  <div class="col-5">
                    <textarea id="id_vehiculo_descripcion" name="descripcion" class="form-control"
                              placeholder="Descripción" maxlength="250"></textarea>
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                  <label class="col-1 col-form-label">Observaciones</label>
                  <div class="col-5">
                    <textarea id="id_vehiculo_observacion" name="observacion" class="form-control"
                              placeholder="Observaciones" maxlength="250"></textarea>
                    <small class="valid-feedback"> Error en este campo. </small>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info waves-effect text-left" id="btnMantenerVehiculoGuardar">Guardar</button>
        <button type="button" class="btn btn-danger waves-effect text-left" id="btnMantenerVehiculoCancelar">Close
        </button>
      </div>
    </div>
  </div>
</div>
