{% extends "layouts/intranet.html" %}

{% load static i18n %}

{% block page_wrapper_title %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Turno conductor - Activar/Inactivar</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Programaciones</a></li>
                    <li class="breadcrumb-item active">Turno conductor</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock page_wrapper_title %}

{% block page_wrapper_content %}
    {% include 'core_turno/basepartials/_turno_conductor_wrapper_content.html' %}
{% endblock page_wrapper_content %}

{% block modal %}
    {% include 'core_turno/modals/_modal_turno_conductor.html' %}
{% endblock modal %}

{% block css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/modules/datatables.net-bs4/css/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/datatable-ext/css/base.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}">
{% endblock css %}

{% block base_javascript %}
    <script src="{% static 'assets/modules/moment/moment.js' %}"></script>
    <script src="{% static 'assets/modules/moment/locale/es-us.js' %}"></script>
    <script
            src="{% static 'assets/modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script
            src="{% static 'assets/modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script
            src="{% static 'assets/modules/datatables.net-bs4/js/dataTables.responsive.min.js' %}"></script>
    <script
            src="{% static 'assets/modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
{% endblock base_javascript %}

{% block inline_javascript %}
    <script>
      const urlList = {
        dashboardPage: "{% url 'common:load_page' %}",
        access: {
          logIn: "{% url 'core_app:core_app_api:login' %}",
          logOut: "{% url 'core_app:core_app_api:logout' %}",
        },
        turnos: {
          listaTurnos: "{% url 'core_turno:core_turno_api:turnos_horario_activos-list' %}",
        },
        vehiculo: {
          listaVehiculo: "{% url 'core_turno:core_turno_api:turnos_conductor_vehiculo-list' %}",
          mantenerTurnoConductorList: "{% url 'core_turno:core_turno_api:turnos_conductor_mantener-list' %}",
          mantenerTurnoConductorDetail: "{% url 'core_turno:core_turno_api:turnos_conductor_mantener-detail' '0000' %}",
        },
        dataTablesES: "{% static 'assets/datatable-ext/language/spanish.json' %}",
      };

    </script>
    <script src="{% static 'js/app_turno/turno_conductor_vehiculos.js' %}?{{ version_control_js }}"></script>
    <script src="{% static 'js/app_turno/turno_conductor_turnos_modal.js' %}?{{ version_control_js }}"></script>
{% endblock inline_javascript %}
