<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body" style="background-color: #03BFCA25 !important;">
                <h4 class="card-title">REPORTE DE TURNOS</h4>
                <div class="tab-content table-responsive table-sm">
                  <table class="table table-sm table-striped w-100 color-table info-table"
                         id="lista-turnos-operador">
                    <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Nombres y Apellidos</th>
                      <th>Fecha</th>
                      <th>Turno</th>
                      <th>Hora programada (Incio - Fin)</th>
                      <th>Hora (Incio - Fin)</th>
                      <th>Llamadas atendidas</th>
                      <th>Registrados</th>
                      <th>Asignados</th>
                      <th>Estado</th>
                      <th>Opciones</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>
