<div class="modal" id="bs-cerrar-turno-modal-lg" tabindex="-1" role="dialog"
     aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xxl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cerrar turno</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12">
            <fieldset class="form-group form-group-sm border border-primary p-2 mb-1"
                      style="background-color: #FB967A25 !important;">
              <legend class="w-auto badge badge-primary">RESUMEN</legend>
              <div class="row mb-1">
                <div class="col-12">
                  <table class="table table-bordered" style="background-color: white !important;">
                    <thead>
                    <tr class="text-center">
                      <th>llamadas recibidas</th>
                      <th>Llamadas atendidas</th>
                      <th>servicios creadas</th>
                      <th>llamadas no atendidas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center">
                      <td id="id-llamadas-recibidas">10</td>
                      <td id="id-llamadas-atendidas">14</td>
                      <td id="id-llamadas-creadas">5</td>
                      <td id="id-llamadas-noatendidas">-</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </fieldset>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info waves-effect text-left" id="btnCerrarSesionTurno">Cerrar turno
        </button>
        <button type="button" class="btn btn-danger waves-effect text-left" id="btnCancelarSesionTurno">Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
