<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body" style="background-color: #03BFCA25 !important;">
                <h4 class="card-title">MÓDULO MANTENIMIENTO DE OPERADORES</h4>
                <div>
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" id="btnAgregarOperador"
                            class="btn btn-sm btn-cyan"><i class="fa fa-plus"></i> Agregar operador
                    </button>
                  </div>
                  <label class="ml-2 text-black-50"> Ver todos los estados
                    <input type="checkbox" class="" name="ver_operadores_todos_los_estados" id="ver_operadores_todos_los_estados"
                           value="visualizar">
                  </label>
                </div>
                <div class="tab-content table-responsive table-sm">
                  <table class="table table-sm table-striped w-100 color-table info-table"
                         id="lista-mant-operadores">
                    <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Apellido paterno</th>
                      <th>Apellido materno</th>
                      <th>Usuario</th>
                      <th>Estado</th>
                      <th>Fecha modificación</th>
                      <th>Modificado por</th>
                      <th>Opciones</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
