<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body" style="background-color: #03BFCA25 !important;">
                <h4 class="card-title">MÓDULO MANTENIMIENTO DE VEHICULOS</h4>
                <div>
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" id="btnAgregarVehiculos"
                            class="btn btn-sm btn-cyan"><i class="fa fa-plus"></i> Agregar vehiculo
                    </button>
                  </div>
                  <label class="ml-2 text-black-50"> Ver todos los estados
                    <input type="checkbox" class="" name="ver_conductores_todos_los_estados" id="ver_conductores_todos_los_estados"
                           value="visualizar">
                  </label>
                </div>
                <div class="tab-content table-responsive table-sm">
                  <table class="table table-sm table-striped w-100 color-table info-table"
                         id="lista-mant-vehiculos">
                    <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Nro</th>
                      <th>Matrícula (Placa)</th>
                      <th>VIN</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Estado Vehículo</th>
                      <th>Estado Alquiler</th>
                      <th>Descripcion</th>
                      <th>Observación</th>
                      <th>Fecha modificación</th>
                      <th>Modificado por</th>
                      <th>Opciones</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
